<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411628587232-dve3abimcs2n3fvgb47j6u11grpobec5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411628587232-dve3abimcs2n3fvgb47j6u11grpobec5</string>
	<key>API_KEY</key>
	<string>AIzaSyBUFLj5zBElHYxl9k1JZy2HoULR18CB6kM</string>
	<key>GCM_SENDER_ID</key>
	<string>411628587232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sauap.Sauap</string>
	<key>PROJECT_ID</key>
	<string>sauap-bb7cf</string>
	<key>STORAGE_BUCKET</key>
	<string>sauap-bb7cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411628587232:ios:0a8db643f69c9a0d05a885</string>
</dict>
</plist>